body {
    background: rgb(11,12,24);
    background: linear-gradient(0deg, rgba(11,12,24,1) 0%, rgba(4,4,10,1) 15%, rgba(0,114,138,1) 100%); 
}
.all {
    display: flex;
    flex-flow: column;
    flex-flow: row;
}
#dl_button {
    outline: rgb(114, 189, 255);
    outline-style: solid;
    outline-width: 1px;
    background: rgb(30, 45, 62);
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 250px;
    align-self: center;
    text-decoration: none;
}
#dl_button:hover {
    background: rgb(65, 97, 133);
    cursor: pointer;
}
.file_dl_txt {
    color: rgb(0, 191, 197);
    padding-left: 3%;
    line-height: 5%;
    text-decoration: none;
}
.title_of_challenge {
    font-family: "Segoe UI";
    color: rgb(0, 195, 255);
    font-size: 72px;

    align-items: center;
    text-align: center;
    display: flex;
    flex-flow: column wrap;

    padding-left: 5%;
    padding-right: 5%;
}
.clickable_text {
    color: rgb(0, 191, 197);
    text-decoration: underline;
}
.clickable_text:hover {
    color: rgb(0, 247, 255);
    cursor: pointer;
}
.challenge_description {
    font-family: sans-serif;
    color: rgb(0, 168, 168);
    font-size: 24pt;
    padding-left: 3%;
    display: flex;
    flex-flow: column;
    text-align: center;
}
.items {
    font-family: sans-serif;
    color: aliceblue;
    font-size: 28pt;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    flex-flow: column;
}
.item {
    display: flex;
    padding-top: 13%;
    color: rgb(0, 247, 255);
}
hr {
    width: 90%
}
.block {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: rgb(10, 26, 34);
    padding: 4%;
    width: 44%;
    padding-bottom: 30%;
    margin: auto;
    outline-color: rgb(0, 225, 255);
    outline-style: solid;
    outline-width: 1px;
}